<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solshire.mapper.OrderProductMapper">
  <resultMap id="BaseResultMap" type="com.solshire.model.domain.OrderProduct">
    <!-- WARNING - @mbg.generated -->
    <id column="policyNo" jdbcType="VARCHAR" property="policyno" />
    <result column="productname" jdbcType="VARCHAR" property="productname" />
    <result column="policyowner" jdbcType="VARCHAR" property="policyowner" />
    <result column="corporation" jdbcType="VARCHAR" property="corporation" />
    <result column="moneytype" jdbcType="SMALLINT" property="moneytype" />
    <result column="payage" jdbcType="SMALLINT" property="payage" />
    <result column="premium" jdbcType="REAL" property="premium" />
    <result column="coverage" jdbcType="REAL" property="coverage" />
    <result column="pattern" jdbcType="SMALLINT" property="pattern" />
    <result column="feeid" jdbcType="INTEGER" property="feeid" />
    <result column="richeid" jdbcType="INTEGER" property="richeid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>

  <resultMap id="orderProductEntity" type="com.solshire.model.OrderProductEntity" extends="BaseResultMap">
  </resultMap>

  <sql id="BaseColumns">
    <!-- WARNING - @mbg.generated -->
    policyNo, productname, policyowner, corporation, moneytype, payage, premium, coverage, pattern, feeid, richeid, state, addtime
  </sql>


  <select id="listConsumer" parameterType="com.solshire.model.RichesQuery">
    SELECT u.name, u.sex, u.brithday ,u.tel, u.certifyNo, u.email ,  product.richeid adviserId
    FROM sol_orderdata u, sol_orderproduct product
    where u.policyNo = product.policyNo
    and u.flag = 2
    <if test="beginDate != null">
      AND DATE_FORMAT(addtime,'%Y%m%d')  BETWEEN #{beginDate} and #{endDate}
    </if>
    group by u.certifyNo
  </select>

  <select id="query" parameterType="com.solshire.model.ProductQuery" resultMap="orderProductEntity" >
    SELECT <include refid="BaseColumns"/> FROM sol_orderproduct
  </select>
  
</mapper>