<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solshire.mapper.RichesMapper">
  <resultMap id="BaseResultMap" type="com.solshire.model.domain.Riches">
    <!-- WARNING - @mbg.generated -->
    <id column="richeid" jdbcType="INTEGER" property="richeid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="certifyNo" jdbcType="VARCHAR" property="certifyno" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="bankcardid" jdbcType="VARCHAR" property="bankcardid" />
    <result column="bankcardname" jdbcType="VARCHAR" property="bankcardname" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="openID" jdbcType="VARCHAR" property="openid" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="master" jdbcType="INTEGER" property="master" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
  </resultMap>

  <resultMap id="richesEntity" type="com.solshire.model.RichesEntity" extends="BaseResultMap">
  </resultMap>
  
  <sql id="BaseColumns">
    <!-- WARNING - @mbg.generated -->
    richeid, name, realname, certifyNo, tel, sex, state, bankcardid, bankcardname, pwd, openID, img, flag, email, remark, master, token, addtime,reference
  </sql>

  <sql id="BaseColumnsAlisa">
    <!-- WARNING - @mbg.generated -->
    u.richeid richeid, u.name name, u.realname realname, u.certifyNo realname,
    u.tel tel, u.sex sex, u.state state, u.bankcardid bankcardid,
    u.bankcardname bankcardname, u.pwd pwd, u.openID openID, u.img img,
    u.flag flag, u.email email, u.remark remark, u.master master, u.token token, u.addtime addtime,u.reference reference
  </sql>

  <select id="queryByPage" parameterType="com.solshire.model.RichesQuery" resultMap="richesEntity">
    SELECT <include refid="BaseColumns"/> FROM sol_riches
    <where>
      <if test="beginDate != null">
        AND DATE_FORMAT(addtime,'%Y%m%d')  BETWEEN #{beginDate} and #{endDate}
      </if>
      <if test="flags != null">
        AND flag in (${flags})
      </if>
      <if test="master != null">
        AND  master = #{master}
      </if>
    </where>
  </select>

  <select id="queryChildren" parameterType="com.solshire.model.RichesQuery" resultMap="richesEntity">
    SELECT <include refid="BaseColumnsAlisa"/> FROM sol_riches u, sol_richegroup rel
    WHERE
    u.richeid = rel.cid
    AND rel.pid = #{richeid}
      <if test="beginDate != null">
        AND DATE_FORMAT(addtime,'%Y%m%d')  BETWEEN #{beginDate} and #{endDate}
      </if>
      <if test="flags != null">
        AND flag in (${flags})
      </if>
      <if test="master != null">
        AND  master = #{master}
      </if>
  </select>

  <select id="queryLevel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT getlevelNum(#{richeid},#{type})
  </select>

  <select id="queryByCertifyNos" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="BaseColumns"/> FROM sol_riches
    WHERE  certifyNo IN (${certifyNos})
  </select>


</mapper>