<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solshire.mapper.SMSClientMapper">
  <resultMap id="BaseResultMap" type="com.solshire.model.domain.SMSClient">
    <!-- WARNING - @mbg.generated -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  
  <sql id="BaseColumns">
    <!-- WARNING - @mbg.generated -->
    id, tel, code, state, addtime
  </sql>
  
</mapper>